<div class="dialog-padding">
  <h2 mat-dialog-title>Delete Employee Type</h2>
  <mat-dialog-content>
    <p>Do you want to remove this? </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>I don't want</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-button (click)="deleteEmployeeType()" [mat-dialog-close]="true">I want</button>
  </mat-dialog-actions>
</div>
