<div class="transitionSlide">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let pt of productTypes;  index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{pt.nameProductType}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-table-product [_productType]="pt"></app-table-product>
      <mat-action-row>
        <button mat-raised-button color="primary" class="margin-left-button" (click)="openDeleteDialog(i)">
          <mat-icon>delete</mat-icon>
          Product Type
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="margin-button">
    <button mat-raised-button color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
      Product Type
    </button>
  </div>
</div>

