<mat-card class="dialog-card">

  <form #formProduct="ngForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field class="dialog-card">
        <input type="url" matInput name="urlImage" placeholder="Url Image"
               [(ngModel)]="product.urlImage"/>

      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="text" matInput name="nameProduct" placeholder="Name Product"
               [(ngModel)]="product.nameProd" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="number" matInput name="priceProduct" placeholder="Price"
               [(ngModel)]="product.priceProd" required/>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="number" matInput name="stockProd" placeholder="Stock"
               [(ngModel)]="product.stockProd" required/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button  type="submit" mat-raised-button color="primary" [disabled]="!formProduct.form.valid">
        <mat-icon>add</mat-icon>
      </button>
      <button type="button" mat-raised-button color="primary" mat-dialog-close>Close</button>
    </mat-card-actions>
  </form>
</mat-card>

