<div class="table-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<mat-table #table [dataSource]="dataSource">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- lastNameEmployee Column -->
  <ng-container matColumnDef="lastNameEmployee">
    <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.lastNameEmployee}}</mat-cell>
  </ng-container>

  <!-- firstNameEmployee Column -->
  <ng-container matColumnDef="firstNameEmployee">
    <mat-header-cell *matHeaderCellDef> First name</mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.firstNameEmployee}}</mat-cell>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="mailAdress">
    <mat-header-cell *matHeaderCellDef>Phone number</mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.phoneNumber | phoneNumber}} </mat-cell>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="viewUpdate">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let employee">
      <button mat-icon-button color="primary" (click)="openDialogEmployee(employee)"><mat-icon>pageview</mat-icon></button>
      <button mat-icon-button color="primary" (click)="openDialogDelete(employee)"><mat-icon>deletes</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
               [pageSize]="5"
               [pageSizeOptions]="[1, 5, 10]">
</mat-paginator>
<button mat-raised-button color="primary" (click)="openAddEmployeeDialog()">
  <mat-icon>add</mat-icon>
  Employee
</button>

