<button mat-fab class="primary" [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/management">
    <mat-icon>assignment</mat-icon>
    <span>Management</span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>cancel</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
<div class="transitionFade">
    <div class="nav-bar">
        <nav mat-tab-nav-bar aria-label="management">
          <a mat-tab-link
             *ngFor="let tab of tabs"
             [routerLink]="[tab.path]"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive">
            {{tab.label}}
          </a>
        </nav>
      </div>


      <router-outlet></router-outlet>
</div>





