mat-list {
  overflow-y: scroll;
  height: 250px;
}

.title {
  margin-left: 15px;
  margin-top: 15px;
}

.field {
  margin-left: 15px;
  width: 93%;
}

.field-left {
  margin-left: 15px;
  width: 45%;
}

.button-add {
  margin: 0px 15px 15px 15px;
}
