<mat-list class=".list-product">
  <h3 mat-subheader>List of products in the Menu</h3>
  <mat-list-item *ngFor="let p of menu.product; index as i">
    <span (click)="deleteProduct(i)"><mat-icon mat-list-icon>delete</mat-icon></span>
    <h4 mat-line>{{p.nameProd}}</h4>
    <p mat-line>{{p.priceProd}}</p>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<h3 class="title">Details Menu</h3>
<form #formMenu="ngForm" (ngSubmit)="saveMenu()">
  <mat-form-field class="field field-name">
    <input type="text" matInput name="nameMenu" placeholder="Menu name" name="nameMenu" [(ngModel)]="menu.nameMenu"
           required/>
  </mat-form-field>
  <mat-form-field class="field-left">
    <input type="number" matInput name="Price" placeholder="Menu price" name="priceMenu" [(ngModel)]="menu.priceMenu"
           required/>
    <span matPrefix>$</span>
  </mat-form-field>
  <mat-form-field class="field-left">
    <input type="number" matInput name="Persons" placeholder="Number persons" name="nbPersMenu"
           [(ngModel)]="menu.nbPersMenu" required/>
  </mat-form-field>
  <mat-form-field class="field-left">
    <input matInput [matDatepicker]="pickerStart" placeholder="Choose a starting date" name="dateStartMenu"
           [(ngModel)]="menu.dateStartMenu" required>
    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="field-left">
    <input matInput [matDatepicker]="pickerEnd" placeholder="Choose an ending date" name="dateEndMenu"
           [(ngModel)]="menu.dateEndMenu" required>
    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field>
  <button type="submit" class="button-add" mat-raised-button color="primary" [disabled]="!formMenu.form.valid">
    <mat-icon>save</mat-icon>
  </button>
</form>
