<div class="transitionSlide">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let et of employeeTypes; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{et.nameEmployeeType}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-table-employee [_employeeType]="et"></app-table-employee>
      <mat-action-row>
        <button mat-raised-button color="primary" class="margin-left-button" (click)="openDeleteDialog(i)">
          <mat-icon>delete</mat-icon>
          Employee Type
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="margin-button">
    <button mat-raised-button color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
      Employee Type
    </button>
  </div>
</div>

