<div class="table-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<mat-table #table [(dataSource)]="dataSource">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Product Column -->
  <ng-container matColumnDef="nameProduct">
    <mat-header-cell *matHeaderCellDef> Name product</mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.nameProd}}</mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.priceProd}}$</mat-cell>
  </ng-container>

  <!-- Stock Column -->
  <ng-container matColumnDef="stock">
    <mat-header-cell *matHeaderCellDef> Stock</mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.stockProd}} </mat-cell>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="viewUpdate">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let product">
      <button mat-icon-button color="primary" (click)="openDialogProduct(product)">
        <mat-icon>pageview</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="openDialogDelete(product)">
        <mat-icon>deletes</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[1, 5, 10]">
</mat-paginator>
<div>
  <button mat-raised-button color="primary" (click)="openAddProductDialog()">
    <mat-icon>add</mat-icon>
    Product
  </button>
</div>
