<div >

  <mat-card class="centered" >
    <mat-card-content>



        <span>Login Form</span>




    </mat-card-content>

    <mat-card-content>
      <form #formLogin="ngForm" class="login" (ngSubmit)="login()">
        <mat-form-field class="md-block" [hideRequiredMarker]="true">

          <input matInput type="text" name="username"  placeholder="Username" [(ngModel)]="username"  required />

          <mat-error *ngIf="emailFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="md-block" [hideRequiredMarker]="true">

          <input matInput type="password" name="password" placeholder="Password"[(ngModel)]="password"  required />
          <!-- <mat-error *ngIf="passwordFormControl.hasError('pattern')">
            characters that aren't allowerd ‘,\*'&amp';$'&lt';'&gt';'
          </mat-error> -->
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Enter a <strong>password</strong>
          </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="!formLogin.form.valid">Login</button>
      </form>
    </mat-card-content>



  </mat-card>


</div>
