<mat-card class="dialog-card">

  <h2 mat-dialog-title>{{dialogType? 'update a product':'add a new product'}}</h2>


  <form #formProduct="ngForm" (ngSubmit)="onSubmit()">

    <mat-card-content class="employee-container">


      <mat-form-field class="dialog-card">
        <input type="text" matInput name="lastNameEmployee" placeholder="Last Name" [disabled]="!update"
               [(ngModel)]="employee.lastNameEmployee" required/>
      </mat-form-field>
      <mat-form-field class="dialog-card">
        <input type="text" matInput name="firstNameEmployee" placeholder="first Name" [disabled]="!update"
               [(ngModel)]="employee.firstNameEmployee" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="text" matInput name="phoneNumber" placeholder="Phone Number (only numbers)" [disabled]="!update"
               [ngModel]="employee.phoneNumber"
               (ngModelChange)="employee.phoneNumber=$event" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="text" matInput name="mailAdress" placeholder="Email Adress" [disabled]="!update"
               [(ngModel)]="employee.mailAdress" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="text" matInput name="street" placeholder="Street Name" [disabled]="!update"
               [(ngModel)]="employee.street" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="number" matInput name="num" placeholder="Street Number" [disabled]="!update"
               [(ngModel)]="employee.num" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="number" matInput name="postalCode" placeholder="Postal Code" [disabled]="!update"
               [(ngModel)]="employee.postalCode" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="text" matInput name="city" placeholder="City" [disabled]="!update"
               [(ngModel)]="employee.city" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="text" matInput name="username" placeholder="Username" [disabled]="!update"
               [(ngModel)]="employee.username" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="password" matInput name="password" placeholder="Password" [disabled]="!update"
               [(ngModel)]="employee.password" required/>
      </mat-form-field>


    </mat-card-content>


    <mat-card-actions>
      <div *ngIf='dialogType ;else employeeAddDialog'>
        <button type="submit" mat-raised-button color="primary" [disabled]="!formProduct.form.valid">
          <mat-icon>save</mat-icon>
        </button>
        <button type="button" mat-raised-button color="primary" mat-dialog-close>Close</button>
        <button type="button" mat-icon-button color="primary" (click)="update = !update">
          <mat-icon>{{update?'lock_open':'lock_outline'}}</mat-icon>
        </button>

      </div>
      <ng-template #employeeAddDialog>
        <button type="submit" mat-raised-button color="primary" [disabled]="!formProduct.form.valid">
          <mat-icon>add</mat-icon>
        </button>
        <button type="button" mat-raised-button color="primary" mat-dialog-close>Close</button>
      </ng-template>

    </mat-card-actions>
  </form>
</mat-card>
