<mat-card class="dialog-card">


  <form #formProduct="ngForm" (ngSubmit)="onSubmit()">

    <mat-card-content class="prod-container">
      <div class="div-card-image">
        <img mat-card-image [src]="data.urlImage" [alt]="product.nameProd" class="card-image">
      </div>


      <mat-form-field class="dialog-card">
        <input type="url" matInput name="urlImage" placeholder="Url Image" [disabled]="!update"
               [(ngModel)]="product.urlImage"/>

      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="text" matInput name="nameProduct" placeholder="Name Product" [disabled]="!update"
               [(ngModel)]="product.nameProd" required/>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="number" matInput name="priceProduct" placeholder="Price" [disabled]="!update"
               [(ngModel)]="product.priceProd" required/>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field class="dialog-card">
        <input type="number" matInput name="stockProd" placeholder="Stock" [disabled]="!update"
               [(ngModel)]="product.stockProd" required/>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="!formProduct.form.valid">
        <mat-icon>save</mat-icon>
      </button>
      <button type="button" mat-raised-button color="primary" mat-dialog-close>Close</button>
      <button type="button" mat-icon-button color="primary" (click)="update = !update">
        <mat-icon>{{update?'lock_open':'lock_outline'}}</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
