.dialog-card {
  width: 60vh;
}

.input-card {
  width: 100%;
}

.card-image {
  height: 200px;
  object-fit: cover;
}

.div-card-image {
  width: 100%;
  text-align: center;
}
.prod-container {
  display: flex;
  flex-direction: column;
}

.prod-container > * {
  width: 100%;
}
