.example-card {
  width: 80px;
}

.card-image {
  height: 80px;
  object-fit: cover;
}

mat-card {
  display : inline-block;
  margin : 5px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  /*background-size: cover;*/
}

.scroll {
  overflow-y: scroll;
  height: 550px;
}
