<div class="scroll">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let typeProd of productTypes">
      <mat-expansion-panel-header>
        <mat-panel-title>{{typeProd.nameProductType}}</mat-panel-title>
      </mat-expansion-panel-header>
      <span *ngFor="let prod of typeProd.product" (click)="emitData(prod)">
      <mat-card class="example-card">
        <img mat-card-image class="card-image" [src]="getImage(prod)" [alt]="prod.nameProd">
        <mat-card-content><p>{{prod.nameProd}}</p></mat-card-content>
      </mat-card>
    </span>
    </mat-expansion-panel>
  </mat-accordion>
</div>
