<div class="transitionSlide">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let m of menus; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{m.nameMenu}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <h3 mat-subheader>Products</h3>
        <mat-list-item *ngFor="let p of m.product">
          <mat-icon mat-list-icon>local_dining</mat-icon>
          <h4 mat-line>{{p.nameProd}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Details</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <h4 mat-line>{{m.priceMenu}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>accessibility</mat-icon>
          <h4 mat-line>{{m.nbPersMenu | unite}} </h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>date_range</mat-icon>
          <h4 mat-line>Du {{m.dateStartMenu }} au {{m.dateEndMenu}}</h4>
        </mat-list-item>
      </mat-list>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="openUpdateDialog(i)">
          <mat-icon>settings</mat-icon>
        </button>
        <button class="margin-left-button" mat-raised-button color="primary" (click)="openDeleteDialog(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="margin-button">
    <button mat-raised-button color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
      Menu
    </button>
  </div>
</div>
