.div-element {
  height: 100%;
}

.div-left {
  width: 60%;
  float: left;
}

.div-right {
  width: 40%;
  float: right;
}

.shadow {
  box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.2);
  -moz-box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.2);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.2);
}
