<div class="div-element div-left">
  <app-add-product-menu [_menu]="tmpMenu" (menuOut)="tmpMenu = $event"></app-add-product-menu>
</div>
<div class="div-element div-right">
  <app-product-in-menu [_oMenu]="this.data.menu" [_menu]="tmpMenu" [_operation]="this.data.operation "
                       [_menus]="this.data.menus"></app-product-in-menu>
</div>

