/* You can add global styles to this file, and also import other style files */

/*THEME préfait utiliser dans angular.material */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body{
    color: whitesmoke;

}

/* Slide transition */
div.transitionSlide{
    animation-duration: .5s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}

@keyframes slideIn {
  from {
    transform: translate(-200px);
  }

  to {
    transform: translate(0px);
  }
}

/* Fade transition */
div.transitionFade {
    animation-duration: .5s;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.margin-button{
  margin-top: 10px;
}

/*    SCROLLBAR     */

#style-2::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgb(255, 0, 143);
  border-radius: 10px;
  background-color: #303030;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #303030;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ff0072;
}
