<div  class="dialog-padding">
  <h2 mat-dialog-title>Add type product</h2>
  <mat-dialog-content>
    <mat-form-field class="dialog-card">
      <input matInput placeholder="Name of Type Product" [(ngModel)] = "nameProductType" required>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-button [mat-dialog-close]="true" (click)="createTypeProduct()">Add</button>
  </mat-dialog-actions>
</div>

